extends include/layout
block content
    header
        p.lead= t('app.home.pitch')
    hr
    div(ng-app='app')
        .jumbotron.
            ceci est votre première application.
block js
    script(src='/genere/js/app.js')