extends include/layout
block content
    header
        p.lead Merde
    hr
    div(ng-app='app')
        .jumbotron.
            ceci est votre pre  mière application.
block js
    script(src='/genere/js/app.js')